@{
    ViewBag.Title = "Progress Bars";
}

<h4>Active Progress Bar</h4>
<div class="progress progress-striped active">
    <div class="bar" style="width: 70%;"></div>
</div>

<h4>Inacitve Progress Bar</h4>
<div class="progress">
    <div class="bar" style="width: 60%;"></div>
</div>