@{
    ViewBag.Title = "Tables";
}

<table class="metro-table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
    </tr>
    <tr>
        <td>Rob</td>
        <td>Johnson</td>
        <td>robjohnson@email.com</td>
    </tr>
    <tr>
        <td>Bill</td>
        <td>Brown</td>
        <td>billbrown@email.com</td>
    </tr>
    <tr>
        <td>Rod</td>
        <td>Green</td>
        <td>rodgreen@email.com</td>
    </tr>
    <tr>
        <td>Carol</td>
        <td>White</td>
        <td>carolwhite@email.com</td>
    </tr>
    <tr>
        <td>Chris</td>
        <td>Black</td>
        <td>chrisblack@email.com</td>
    </tr>
</table>