@{
    ViewBag.Title = "Headers";
}

<h1>h1 - Test Header</h1>
<h2>h2 - Test Header</h2>
<h3>h3 - Test Header</h3>
<h4>h4 - Test Header</h4>
<h5>h5 - Test Header</h5>
<h6>h6 - Test Header</h6>

<h1 class="accent">h1 - Test Header w/ .accent class</h1>
<h2 class="accent">h2 - Test Header w/ .accent class</h2>
<h3 class="accent">h3 - Test Header w/ .accent class</h3>
<h4 class="accent">h4 - Test Header w/ .accent class</h4>
<h5 class="accent">h5 - Test Header w/ .accent class</h5>
<h6 class="accent">h6 - Test Header w/ .accent class</h6>