@{
    ViewBag.Title = "Tiles";
}

<div class="tiles" style="width:800px;">
	<div class="tilerow">
		<div class="tile one bluebg"><a href="#"><h2>test</h2></a></div>
		<div class="tile one bluebg"><a href="#"><h2>test</h2></a></div>
		<div class="tile one bluebg"><a href="#"><h2>test</h2></a></div>
		<div class="tile two-h bluebg"><a href="#"><h2>test</h2></a></div>
	</div>

	<div class="tilerow">
		<div class="tile two-h limebg"><a href="#"><h2>test</h2></a></div>
		<div class="tile one limebg"><a href="#"><h2>test</h2></a></div>
		<div class="tile one limebg"><a href="#"><h2>test</h2></a></div>
		<div class="tile two-v fifthcol limebg"><a href="#"><h2>test</h2></a></div>
	</div>
	<div class="tilerow">
		<div class="tile one orangebg"><a href="#"><h2>test</h2></a></div>
		<div class="tile one orangebg"><a href="#"><h2>test</h2></a></div>
		<div class="tile one orangebg"><a href="#"><h2>test</h2></a></div>
		<div class="tile two-v fourthcol orangebg"><a href="#"><h2>test</h2></a></div>
	</div>	
	<div class="tilerow">
		<div class="tile one tealbg"><a href="#"><h2>test</h2></a></div>
		<div class="tile one tealbg"><a href="#"><h2>test</h2></a></div>
		<div class="tile one tealbg"><a href="#"><h2>test</h2></a></div>
		<div class="tile one fifthcol tealbg"><a href="#"><h2>test</h2></a></div>
	</div>	
	<div class="tilerow">
		<div class="tile one purplebg"><p></p><h2>test</h2><p></p></div>
		<div class="tile one purplebg"><p></p><h2>test</h2><p></p></div>
		<div class="tile one purplebg"><p></p><h2>test</h2><p></p></div>
		<div class="tile one purplebg"><p></p><h2>test</h2><p></p></div>
		<div class="tile one purplebg"><p></p><h2>test</h2><p></p></div>
	</div>	
</div>